<header class="d-flex flex-wrap justify-content-between p-3 border-bottom sticky-top">
  <div class="container d-flex flex-wrap justify-content-between">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <img class="logo img-fluid" [src]="'HEADER.LOGO' | translate" alt="" />
    </a>

    <ul class="nav gap-3 justify-content-end">
      <li class="nav-item">
        <a href="/pricing" routerLinkActive="active" class="nav-link link-body-emphasis text-muted fw-semibold">
          {{ 'HEADER.PRICING' | translate }}
        </a>
      </li>

      <li class="nav-item me-2">
        <a [href]="urls.docs" routerLinkActive="active" class="nav-link link-body-emphasis text-muted fw-semibold">
          {{ 'HEADER.DOCUMENTATION' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" [href]="'COMMON.LINK_GITHUB' | translate">
          <i class="ti ti-brand-github"></i>
          {{ 'HEADER.STAR_ON_GITHUB' | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary" [href]="'COMMON.LINK_DOCS' | translate">
          {{ 'HEADER.GO_TO_CONSOLE' | translate }}
        </a>
      </li>
    </ul>
  </div>
</header>
