<main class="container mb-5 p-4 p-lg-5">
  <section class="pricing-header p-3 pb-md-4 mx-auto text-center mb-4 mt-2">
    <h1 class="display-3 fw-bold text-body-emphasis mb-3 lh-1" [innerHTML]="'PRICING.HEADER' | translate"></h1>
    <p class="fs-5 text-body-secondary" [innerHTML]="'PRICING.DESCRIPTION' | translate"></p>
  </section>

  <section class="row mb-5">
    <div class="pricing-bg"></div>
    <div class="card-group">
      @for (plan of plans; track plan; let i = $index) {
        <div class="card my-4" [class.featured]="plan.featured">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-uppercase fw-semibold">
              {{ plan.name }}
            </h4>
            <p class="mt-2 lh-sm text-body-secondary">{{ plan.description }}</p>
            <button type="button" class="w-100 mt-3 btn btn-primary" [innerHTML]="'PRICING.BUTTON' | translate"></button>
          </div>
          <div class="card-body">
            <small class="text-body-secondary text-body-tertiary"> From </small>
            <h1 class="card-title pricing-card-title d-flex flex-column m-0">
              <b>{{ plan.price }}</b>
            </h1>
            <small class="text-body-tertiary"> {{ plan.sub }} </small>
            <ul class="list-unstyled my-4">
              @for (feature of plan.features; track feature) {
                <li class="d-flex align-items-center mb-2">
                  <i class="fw-bold me-2 ti ti-check text-success fs-5"></i>
                  <span class="fw-semibold">{{ feature }}</span>
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
  </section>

  <h2 class="display-6 text-center mt-3 mb-5 pt-5" [innerHTML]="'PRICING.COMPARE' | translate"></h2>

  <section class="table-responsive">
    @for (plan of comparePlans; track plan) {
      <table class="table text-center mb-5">
        <thead>
          <tr>
            <th style="width: 34%" class="text-start">{{ plan.section }}</th>
            <th style="width: 22%" [innerHTML]="'PRICING.PLANS.STARTER' | translate"></th>
            <th style="width: 22%" [innerHTML]="'PRICING.PLANS.PRO' | translate"></th>
            <th style="width: 22%" [innerHTML]="'PRICING.PLANS.ENTERPRISE' | translate"></th>
          </tr>
        </thead>
        <tbody>
          @for (list of plan.list; track list) {
            <tr>
              <th scope="row" class="text-start">{{ list.label }}</th>
              <td [innerHTML]="list.starter | translate"></td>
              <td [innerHTML]="list.pro | translate"></td>
              <td [innerHTML]="list.enterprise | translate"></td>
            </tr>
          }
        </tbody>
      </table>
    }
  </section>
</main>
