@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:host {
  .pricing-bg {
    z-index: -1;
    top: 0%;
    left: 50%;
    margin-left: -500px;
    mask-image: radial-gradient(ellipse, black 0%, transparent 80%);
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle, var(--bs-secondary-bg) 2px, transparent 2px);
  }
  h1 {
    // background: linear-gradient(to right, var(--bs-primary) 20%, $pink-500 80%);
    // background-clip: text;
    // font-size: 72px;
    // -webkit-text-fill-color: transparent;
    color: var(--bs-primary) !important;
    font-weight: 900 !important;
  }
  .container {
    max-width: 960px;
  }
  @include media-breakpoint-up(sm) {
    .card {
      .card-header {
        height: 197px;
      }
      p {
        min-height: 50px;
      }
      &.featured {
        margin: 0 !important;
        .card-header {
          height: 220px;
        }
        button {
          margin-top: 38px !important;
        }
      }
      &:has(+ .featured) {
        border-right: none !important;
      }
    }
  }

  .card {
    &.featured {
      border: double 4px var(--bs-primary);
      // background-image: linear-gradient(var(--bs-body-bg), var(--bs-body-bg)), linear-gradient(to right, var(--bs-primary), $pink-500);
      border-radius: var(--bs-border-radius);
      background-origin: border-box;
      background-clip: content-box, border-box;
    }
  }
}
