<div class="container my-4">
  <footer class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center flex-column flex-lg-row">
    <section class="col d-flex align-items-center my-1">
      <img class="logo img-fluid me-3" [src]="'FOOTER.LOGO' | translate" height="24" width="24" alt="" />
      <span class="fs-7 text-muted me-4">{{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate: { name: 'Landing Starter', year: year } }} </span>
    </section>
    <section class="nav col justify-content-center justify-content-lg-end d-flex my-1 mt-4 mt-lg-0">
      <!-- <lmdev-theme-switcher class="mx-2 mx-lg-4"></lmdev-theme-switcher> -->
      <!-- <div class="vr"></div> -->

      <span class="fs-7 text-muted mx-2 mx-lg-4"> {{ 'FOOTER.VERSION' | translate: { version: version } }} </span>
      <ng-container>
        <div class="vr"></div>
        <a class="fs-7 text-muted mx-2 mx-lg-4 link-underline-light" [href]="'COMMON.LINK_DOCS' | translate">
          {{ 'FOOTER.DOCUMENTATION' | translate }}
        </a>
      </ng-container>
      <ng-container>
        <div class="vr"></div>
        <a class="fs-7 text-muted mx-2 mx-lg-4 link-underline-light" [href]="'COMMON.LINK_GITHUB' | translate">
          <i class="ti ti-brand-github"></i>
        </a>
      </ng-container>
    </section>
  </footer>
</div>
